<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlinks}}
</head>

<body>

{{>navbar}}

    <!-- main heaader  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center mx-auto">
                        <figure class="errimg">
                            <img src="img/1.jpg" alt="Thapa" class="img-fluid" title="thapa technical">
                        </figure>
                        <p>wellcom to Nature World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->

  {{>footer}}

</body>

</html>